<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>servlet.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddComment</servlet-name>
    <servlet-class>servlet.AddComment</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddFriend</servlet-name>
    <servlet-class>servlet.AddFriend</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddTwist</servlet-name>
    <servlet-class>servlet.AddTwist</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreatUser</servlet-name>
    <servlet-class>servlet.CreatUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListComment</servlet-name>
    <servlet-class>servlet.ListComment</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListTwist</servlet-name>
    <servlet-class>servlet.ListTwist</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlet.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveComment</servlet-name>
    <servlet-class>servlet.RemoveComment</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveFriend</servlet-name>
    <servlet-class>servlet.RemoveFriend</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveTwist</servlet-name>
    <servlet-class>servlet.RemoveTwist</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PasswordRecovery</servlet-name>
    <servlet-class>servlet.PasswordRecovery</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListTwistFollowers</servlet-name>
    <servlet-class>servlet.ListTwistFollowers</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListFollowers</servlet-name>
    <servlet-class>servlet.ListFollower</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListFollowers</servlet-name>
    <url-pattern>/ListFollowers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListTwistFollowers</servlet-name>
    <url-pattern>/TwistFollowings</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddComment</servlet-name>
    <url-pattern>/AddComment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddFriend</servlet-name>
    <url-pattern>/AddFriend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddTwist</servlet-name>
    <url-pattern>/AddTwist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreatUser</servlet-name>
    <url-pattern>/CreatUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListComment</servlet-name>
    <url-pattern>/ListComment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListTwist</servlet-name>
    <url-pattern>/ListTwist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveComment</servlet-name>
    <url-pattern>/RemoveComment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveFriend</servlet-name>
    <url-pattern>/RemoveFriend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveTwist</servlet-name>
    <url-pattern>/RemoveTwist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PasswordRecovery</servlet-name>
    <url-pattern>/PasswordRecovery</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>servlet.CORSFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>